body { 
	background-image:url("back1.jpg");
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
h1 {
	font-family:Verdana;
   font-size:300%;
	text-align:center;
	padding:10px;
}
	
.para {
	margin-bottom: 1cm;
}
#button1 {
	height: 4em;
	width: 20em;
	font-size:20;
	border-radius:30px/10px;
	background: #B0B0B0;
	padding:3px;
	border:2px inset #303030;
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 