body { 
	background-color:#A4A4A4;
}
h1 {
	font-family:Trebuchet MS;
	background-color:#3A4140;
	font-size:300%;
	font-style:italic;
	top:0px;
	left:50px;
	padding:15px;
	padding-left:100px;
	padding-right:100px;
	border-radius:10px;
}

a:link {
	color:#000000;
	text-decoration:none;
}

a:visited {
	text-decoration:none;
	color:#000000;
}

a:hover {
	text-decoration:none;
}
a:active {
	text-decoration:none;
}

#nav {
    background-color:#E6E6E6;
    border-radius:10px;
    position:fixed;
    top:170px;
    left:10px;
    text-align:center;
    font-family:Trebuchet MS;
    font-style:italic;
    padding-bottom:300px;
    padding-right:20px;
    padding-left:20px;
    padding-top:10px; 
}
