{% extends "layout.html" %}
<html>
{% block body %}
<div id = "pageTitle">
About
</div>

<div id = "box">
	Hello! I am Mitchell Baertlein, a student at Oregon State University studying Electrical and Computer Engineering. I grew up in Tillamook, 
	Oregon (about an hour and a half west of Portland) and am still faintly in love with the ocean. I have worked with Hampton Lumber for the last two summers, 
	the first time under Electricians and the second time as a Controls Engineering apprentice. They were both really great experiences and I feel very
	lucky to have happened upon them.
	Right now I have a big interest in either prosthetics or power generation, and while I haven't really done any big project related to these topics,
	I hope to someday get a chance to at least work on these types of things.	
</div>
{% endblock %}
</html>	
