<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style2.css') }}">
<body>

<h1>
<FONT COLOR="#585858 ">Mitchell</FONT><!--
--><FONT COLOR="#000000">B</FONT>
</h1>

<div id = "nav">
<a href="control">Control  </a><br>
<a href="blog.asp">About  </a><br>
<a href="contact.asp">Contact</a><br>
</div>

<form action="MAILTO:mitch.h.baertlein@gmail.com" method="post" enctype="text/plain">
Name:<br>
<input type="text" name="name" value="your name"><br>
E-mail:<br>
<input type="text" name="mail" value="your email"><br>
Comment:<br>
<input type="text" name="comment" value="your comment" size="50"><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>

</body>
</html>