<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mitchell Baertlein</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<style>

body { 
	background-color:#A4A4A4;
}
#p2 {
	color:black;
	font-size:25px;
	font-family:Impact;
}
#p3 {
	color:black;
	font-size:30px;
	font-family:Georgia;
}

</style>


<body>

<nav class="navbar navbar-inverse" style="background-color:#0B4C5F; border-color:#0B4C5F;">
	<div class="container-fluid">
    	<div class="navbar-header">
      		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="border-color:white;">
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span> 
      		</button>
   			<a class="navbar-brand" href="/" style="color:white;">Mitchell Baertlein</a>
    	</div>
    	
    	<div class="collapse navbar-collapse" id="myNavbar">
      		<ul class="nav navbar-nav">
        		<li style="background-color:#0B2F3A;"><a href="/">Home</a></li>
       			<li><a href="/projects">Projects</a></li>
        		<li><a href="/about">About</a></li> 
        		<li><a href="/contact">Contact</a></li> 
        		<li><a href="/resume">Resum&eacute</a></li>
      		</ul>
    	</div>
  	</div>
</nav>

<br>
<br>
<br>

<div class="container" id="p2" align=center>
	Yesterday is not ours to recover, <br>
	but tomorrow is ours to win or lose.<br>
	-Lyndon B. Johnson
</div>

<br>
<br>
<br>
<br>


<div class="row centered" align=center style="background-color:#0B4C5F; padding:10px; width:90%;box-shadow: 10px 10px 5px #888888";>
	
	<div class="col-sm-2">
  	</div>

  	<div class="col-sm-2 col-xs-4">
    	<a href="/resume" style="color:black;">
      		<img width="250" height="250" class="img-circle img-responsive" src="{{url_for('static',filename="Resume2.jpg")}}" alt="Contact me">
      		<p>Resum&eacute</p>
    	</a>
  	</div>

  	<div class="col-sm-1">
  	</div>

  	<div class="col-sm-2 col-xs-4">
    	<a href="/projects" style="color:black;">
      		<img width="250" height="250" class="img-circle img-responsive" src="{{url_for('static',filename="proj.jpg")}}" alt="Contact me">
      		<p>Projects</p>
    	</a>
  	</div>

  	<div class="col-sm-1">
  	</div>

  	<div class="col-sm-2 col-xs-4">
    	<a href="/contact" style="color:black;">
      		<img width="250" height="250" class="img-circle img-responsive" src="{{url_for('static',filename="selfie.jpg")}}" alt="Contact me">
      		<p>Say Hello!</p>
    	</a>
  	</div>

    <div class="col-sm-2">
  	</div>

  </div>


</html>	
