<!doctype html>

<html>

<head>
  <link rel="stylesheet" href="../static/style3.css">
</head>
<HR COLOR="#47B28F" WIDTH="100%" SIZE="7">


	<svg height="600" width="100%">

	<defs>
        <clipPath id="myClippingPath">
        	
            	<circle cx="300" cy="470" r="80" fill="008A8A">
        	
        </clipPath>

        <clipPath id="myClippingPath2">
            <circle cx="610" cy="470" r="80" fill="008A8A">
        </clipPath>

        <clipPath id="myClippingPath3">
        	<circle cx="920" cy="470" r="80">
        </clipPath>

    </defs>

  	<circle cx="200" cy="82" r="70" stroke="black" stroke-width="3" fill="black" />

  	<text fill="#ffffff" font-size="20" font-family="Georgia" x="145" y="95">Mitchell</text>

  	<text fill="#black" font-size="20" font-family="Georgia" x="180" y="400">Baertlein</text>

  	<text fill="#ffffff" font-size="20" font-family="Georgia" x="145" y="125">Baertlein</text>

  	<rect x="0" y="370" width="100%" height="250" fill="#47B28F" />
  	
  	 <a xlink:href="./Resume.pdf">
  	<image x="180" y="330" width="250" height="280" xlink:href="Resume2.jpg" clip-path="url(#myClippingPath)" />
  	</a>
  	
  	<image x="450" y="330" width="320" height="300" xlink:href="selfie.jpg" clip-path="url(#myClippingPath2)" />

  	<image x="810" y="330" width="320" height="280" xlink:href="proj.jpg" clip-path="url(#myClippingPath3)" />

  	<a href="./">hi</a>

  	
	<text fill="black" font-size="18" font-family="Verdana" x="260" y="580">Resum&eacute</text>

	<text fill="black" font-size="18" font-family="Verdana" x="570" y="580">Contact</text>
	
	<text fill="black" font-size="18" font-family="Verdana" x="880" y="580">Projects</text>

	<text fill="black" font-size="30" font-family="Impact" x="230" y="240">Yesterday is not ours to recover, </text>
	<text fill="black" font-size="30" font-family="Impact" x="230" y="280">but tomorrow is ours to win or lose.</text>
	<text fill="black" font-size="25" font-family="Impact" x="400" y="310">-Lyndon B. Johnson</text>

	<text fill="#47B28F" font-size="15" font-family="Verdana" x="500" y="40">Home</text>
	<text fill="black" font-size="15" font-family="Verdana" x="600" y="40">Resum&eacute</text>
	<text fill="black" font-size="15" font-family="Verdana" x="720" y="40">About</text>
	<text fill="black" font-size="15" font-family="Verdana" x="820" y="40">Projects</text>
	<text fill="black" font-size="15" font-family="Verdana" x="940" y="40">Contact</text>
	
	</svg>





</html>

