<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mitchell Baertlein</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<style>

body { 
	background-color:#A4A4A4;
}

h1{
  font-size:35px;
  font-family:impact;
}
#p2 {
	color:black;
	font-size:25px;
	font-family:Impact;
}
#p3 {
	color:black;
	font-size:30px;
	font-family:Georgia;
}

</style>


<body>

<nav class="navbar navbar-inverse" style="background-color:#0B4C5F; border-color:#0B4C5F;">
	<div class="container-fluid">
    	<div class="navbar-header">
      		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="border-color:white;">
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span> 
      		</button>
   			<a class="navbar-brand" href="/" style="color:white;">Mitchell Baertlein</a>
    	</div>
    	
    	<div class="collapse navbar-collapse" id="myNavbar">
      		<ul class="nav navbar-nav">
        		<li><a href="/">Home</a></li>
       			<li style="background-color:#0B2F3A;"><a href="/projects">Projects</a></li>
        		<li><a href="/about">About</a></li> 
        		<li><a href="/contact">Contact</a></li> 
        		<li><a href="/resume">Resum&eacute</a></li>
      		</ul>
    	</div>
  	</div>
</nav>

<br>
<br>
<br>


<div class="row centered" align=center style="background-color:#0B4C5F; padding:10px; width:90%; box-shadow: 10px 10px 5px #888888;">
	
	<div class="col-xs-1">
  </div>

  <div class="col-xs-3">
    <a href="/projects" style="color:black;">
      <img width="250" height="250" class="img-circle img-responsive" src="{{url_for('static',filename="proj.jpg")}}" alt="Contact me">
    </a>
  </div>

  <div class="col-xs-8" style="color:white;">
    <h1>Hand-Held Snake Game</h1>
  </div>
</div>

<br>
<br>

<div class="row" align=center style="width:100%;">

  <div class = "col-xs-2"></div>

  <div class = "col-xs-10">
    <div class="row" align=center style="background-color:#0B6138; padding:10px; box-shadow: 0px 10px 10px 5px #888888;">
      <div class = "col-xs-12">

        Hello there
      </div>
    </div>
  </div>
</div>

</html>	